.main-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.change-language{
    margin:0 auto;
    display:block;
    margin-top: 100px;
    background-color: $secondary-color;
    color: $dark-green;
    border: none;
    width: 50px;
}

app-todo-card {
    margin: 20px;;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
